<%- include('../partials/header') %>

<article class="blog-post">
  <h1><%= title %></h1>
  <p><%= date %></p>
  <p><em><%= description %></em></p>
  <div class="markdown-body"><%- html %></%-></div>
</article>

<%- include('../partials/footer') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown.min.css" />
