<%- include('../partials/header') %>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="article">
<meta property="og:url" content="https://www.ikoconnect.com/blog/<%= slug %>">
<meta property="og:title" content="<%= title %>" /> 
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="https://www.ikoconnect.com/og-images/<%= slug %>.png" />
<meta name="twitter:image" content="https://www.ikoconnect.com/api/og-image?title=<%= encodeURIComponent(title) %>">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image" content="https://www.ikoconnect.com/images/apple-touch-icon.jpg">

<article class="blog-post">
  <h1><%= title %></h1>
  <p><%= date %></p>
  <p><em><%= description %></em></p>
  <div class="markdown-body"><%- html %></%-></div>
</article>

<%- include('../partials/footer') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown.min.css" />
